.DS_Store
.dart_tool/

.packages
.pub/

.idea/

build/
pubspec.lock

# Directory created by dartdoc
# If you don't generate documentation locally you can remove this line.
doc/api/

**/resources/secrets/**
**/resources/secrets.json
**/**/secrets.json
/.idea/workspace.xml
